#minhaImagem {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:30%;
  
}

#minhaImagem:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 700px){

  #minhaImagem {
    max-width:100px;
    max-height:100px;
  }

  
}